<div v-if="route.expanded">
  <div class="v-route-config">
    <div class="options">
      <h4>How would you like this route to behave?</h4>
      <div v-repeat="handler: route.handlers">
        <label>
          <input type="radio" name="config-{{route.description}}" value="{{handler.name}}" v-model="route.selectedHandler"> {{handler.description}}<br />
        </label>
      </div>
    </div>
    <div class="config-panel">
      <div v-repeat="handler: route.handlers">
        <div v-if="handler.name === selectedHandler">
          <h5>{{handler.helperText}}</h5>
          <div v-if="handler.type === 'selectMany'">
            <div v-repeat="option: handler.options">
              <label><input type="checkbox" v-on="change: changeMultiSelection(handler, option)" v-attr="checked: isSelected(option, handler.selected)"> {{option}}</label>
              <br>
            </div>
          </div>
          <div v-if="handler.type === 'selectOne'">
            <div v-repeat="option: handler.options">
              <label><input type="radio" name="config-{{route.description}}-sselect-{{$index}}" value="{{option}}" v-model="handler.selected"> {{option}}</label>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
