<div v-if="expanded">
  <div class="v-route-config">

    <div class="options">
      <h4>How would you like this route to behave?</h4>
      <div v-repeat="handler: handlers">
        <label>
          <input
            type="radio"
            name="config-{{name}}"
            value="{{handler.name}}"
            v-model="selectedHandler"
            v-on="change: selectHandler(handler)"
          >
          {{handler.description}}<br />
        </label>
      </div>
    </div>

    <div class="config-panel">
      <h5>{{selectedHandlerObj.optionsHelperText}}</h5>
      <div v-if="selectedHandlerObj.optionsType === 'selectMany'">
        <div v-repeat="option: selectedHandlerObj.options">
          <label>
            <input
              type="checkbox"
              name="config-{{description}}-selmany-{{$index}}"
              v-on="change: updateSelectedOptions(selectedHandlerObj, option)"
              v-attr="checked: isSelected(option, selectedHandlerObj.selected)"
            >
            {{option}}
          </label>
          <br>
        </div>
      </div>
      <div v-if="selectedHandlerObj.optionsType === 'selectOne'">
        <div v-repeat="option: selectedHandlerObj.options">
          <label>
            <input
              type="radio"
              name="config-{{description}}-selone-{{$index}}"
              v-on="change: updateSelectedOption(selectedHandlerObj, option)"
              value="{{option}}"
              v-model="selectedHandlerObj.selectedOption"
            >
            {{option}}
          </label>
          <br />
        </div>
      </div>
    </div>

  </div>
</div>
